<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/blog.css" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Blogs </h1>
        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, ipsam!</h5>
        <hr>
        <div id="blog-list">
            <ul>
                <li>
                    <div class="post" id="1">
                        <h3><span> My experience </span>with Node Js</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam dignissimos nemo eius
                            recusandae voluptatem, quidem molestias quos voluptate velit! <a href="#">Read More</a> </p>
                    </div>
                </li>
                <li>
                    <div class="post" id="2">
                        <h3><span>Why should </span>you learn React Js</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam dignissimos nemo eius
                            recusandae voluptatem, quidem molestias quos voluptate velit! <a href="#">Read More</a></p>
                    </div>
                </li>
                <li>
                    <div class="post" id="3">
                        <h3><span> PHP vs </span>Node - A Comparison</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam dignissimos nemo eius
                            recusandae voluptatem, quidem molestias quos voluptate velit! <a href="#">Read More</a></p>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <script src="/js/blog.js"></script>
</body>

</html>