* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora';
}
:root {
    --light: rgb(64, 224, 208);
    --dark: rgb(20, 206, 209);
    --lightest: #E0FFFF;
    --pure: #ffffff;
    --black: #000000;
}

body {
    background: linear-gradient(to right, var(--pure) 70%, var(--lightest) 70%);
}
div.about-div {
    height: 30vh;
    text-align: center;
    padding: 1.55rem 5rem;
    line-height: 1.8;
}
div.about-div h3 {
    padding: 12px 20px;
    font-size: 1.6rem;
}
div#heading {
    width: 100%;
    height: 20vh;
    text-align: center;
    display: block;
    margin: auto;
}
div#heading h1 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family:'Kirang Haerang', cursive;
    font-weight: 500;
}
div#heading h1 span {
    color: var(--dark);
}
div#heading h5 {
    color: rgb(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}
div#intro {
    padding: 34px;
}
footer {
    width: 100%;
    text-align: center;
    padding: 1.4rem;
    font-size: 0.75rem;
}
@media screen and (max-width:1140px) {
    div#heading {
        height: max-content;
        padding: 15px;
    }
    div#heading h1 {
        font-size: 2rem;
    }
    div.about-div {
        height: max-content;
    }
}